<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= event.title %></h4>
    </div>
    <div class="panel-body">
      <p><strong>Location:</strong> <%= event.location %></p>
      <p><strong>Start Time:</strong> <%= start_date_helper(event) %></p>
      <p><strong>End Time:</strong> <%= end_date_helper(event) %></p>
      <ul class="list-inline">
        <li><%= link_to "Details", event_path(event), class: "btn btn-sm btn-default" %></li>
        <% if current_user == event.host %>
          <li><%= link_to "Edit", edit_event_path(event), class: "btn btn-sm btn-default" %></li>
          <li><%= link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-default" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>