<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= event.title %></h4>
    </div>
    <div class="panel-body">
      <p><strong>Location:</strong> <%= event.location %></p>
      <p><strong>Start Time:</strong> <%= event.start_time.strftime("%A, %B %d, %Y at %l%p") %></p>
      <p><strong>End Time:</strong> <%= event.end_time.blank? ? "n/a" : event.end_time.localtime.strftime("%A, %B %d, %Y at %l%p") %></p>
      <ul class="list-inline">
        <li><%= link_to "Details", event_path(event), class: "btn btn-sm btn-default" %></li>
        <li><%= link_to "Edit", edit_event_path(event), class: "btn btn-sm btn-default" %></li>
        <li><%= link_to "Delete", event_path(event), method: :delete, class: "btn btn-sm btn-default" %></li>
      </ul>
    </div>
  </div>
</div>