<h4><%= event.title %></h4>
<p><strong>Host:</strong> <%= event.host_name %></p>
<p><strong>Location:</strong> <%= event.location %></p>
<p><strong>Start Time:</strong> <%= start_date_helper(event) %></p>
<p><strong>End Time:</strong> <%= end_date_helper(event) %></p>