<div class="col-sm-4 expand-event-index" data-id="<%= event.id %>">
  <div class="panel panel-default">
    <div class="panel-body">                    
      <h4><%= event.title %></h4>
      <p>on <%= start_date_helper(event) %></p>
    </div>
    <div class="panel-footer">
      <div id="event-index-details-<%= event.id %>" style="display: none">
        <p><strong>Location:</strong> <span id="location-<%= event.id %>"></span></p>
        <ul class="list-inline">
          <li><%= link_to "Details", event_path(event), class: "btn btn-sm btn-default" %></li>
          <% if current_user == event.host %>
            <li><%= link_to "Edit", edit_event_path(event), class: "btn btn-sm btn-default" %></li>
            <li><%= link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-default" %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>