<div class="col-sm-8">
  <%= bootstrap_form_for @event do |f| %>
    <%= f.text_field :title, label: "Event Title", class: "form-control", autofocus: true %>
    <%= f.text_field :location, class: "form-control" %>
    <%= f.text_field :start_time, class: "form-control", help: 'ex: "8/6/1991 at 1:30pm" OR "next Saturday at noon"' %>
    <%= f.text_field :end_time, class: "form-control" %>
    <%= f.collection_check_boxes :item_ids, Item.all, :id, :pretty_name, label: "Items Needed" %>
    
    <%= f.fields_for :guests, [User.new] do |guest_form| %>
      <%= guest_form.label "Guests" %>
      <div class="help-block">Enter guest email addresses separated by commas</div>
      <%= guest_form.text_area :email, class: "form-control", style: "resize:none", rows: "7", cols: "100", hide_label: true %>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>