<h2 class="page-header">Event Details</h2>

<%= render 'event_simple', event: @event %>

<h2 class="page-header">Who's Bringing What</h2>
<% @event.assigned_items_sorted.each do |event_item| %>
  <li><%= event_item.item_name %>: <%= event_item.assigned_person.full_name %></li>
<% end %>

<h2 class="page-header">Still Needed <small>select item(s) to bring:</small></h2>
<% @event.unassigned_items_sorted.each do |event_item| %>
  <div style="display:inline-block;">
    <%= button_to event_item.item_name, event_event_item_path(@event, event_item), method: :put, class: "btn btn-info btn-sm" %>
  </div>
<% end %>

<%= bootstrap_form_for @event do |f| %>
  <%= f.fields_for :items, @event.items.build do |items_fields| %>
    <p>Bringing something not on the list? Enter it here. To add more than one of an item, enter "item:number". For example, "homemade pie:2"</p>
    <%= items_fields.text_field :name, hide_label: true %>
    <% end %>
  <%= f.submit "Add Items", class: "btn btn-primary" %>
<% end %>

<h2 class="page-header">Guest List</h2>
<% @event.guests_sorted.each do |guest| %>
  <li><%= guest.full_name %></li>
<% end %>