<div id="current-event" data-id="<%= @event.id %>">
  <div class="row">
    <div class="col-sm-3 navigate">
    <a href="#" id="prev-event" class="glyphicon glyphicon-chevron-left btn btn-lg"></a>
    <a href="#" id="next-event" class="glyphicon glyphicon-chevron-right btn btn-lg"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 bhoechie-tab-container">
      <div class="col-sm-3 bhoechie-tab-menu">
        <div class="list-group">
          <a href="#" class="list-group-item active text-center">
            <h4 class="glyphicon glyphicon-calendar"></h4><br/>Event Details
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Who's Bringing What
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-shopping-cart"></h4><br/>Still Needed
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-user"></h4><br/>Guests
          </a>
        </div>
      </div>
      <div class="col-sm-9 bhoechie-tab">
        <!-- event details section -->
        <div class="bhoechie-tab-content active">
          <%= render 'event_simple', event: @event %>
        </div>
        <!-- who's bringing what section -->
        <div class="bhoechie-tab-content">
          <div class="items-list">
            <ul id="assigned-items">
              <%= render partial: "assigned_item", collection: @event.assigned_items_sorted %>
            </ul>
          </div>
        </div>
        <!-- still needed section -->
        <div class="bhoechie-tab-content">
          <div id="unassigned-items">
            <%= render partial: "unassigned_item", collection: @event.unassigned_items_sorted %>
          </div>
          <br><br>
          <%= bootstrap_form_for @event do |f| %>
            <%= f.fields_for :items, @event.items.build do |items_fields| %>
              <p>Bringing something not on the list? Enter it here. To add more than one of an item, enter "item:number". For example, "homemade pie:2"</p>
              <%= items_fields.text_field :name, hide_label: true %>
              <% end %>
            <%= f.submit "Add Items", class: "btn btn-primary" %>
          <% end %>
        </div>
        <!-- guests section -->
        <div class="bhoechie-tab-content">
          <div class="guest-list">
            <ol id="guests">
              <%= render partial: "guest", collection: @event.guests_sorted %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {

    var currentUserId = parseInt($("#current-user").attr("data-id"));
    var eventIds = [];

    $.get("/users/" + currentUserId + ".json", function(data){
      data["user"]["hosted_events"].forEach(function(event){
        eventIds.push(event.id)
      });
      data["user"]["invited_events"].forEach(function(event){
        eventIds.push(event.id)
      });
    });

    function getNextId(currentId){
      var i = eventIds.indexOf(currentId);
      if(i >= 0 && i < eventIds.length - 1){
        var next = eventIds[i + 1];
      } else {
        var next = eventIds[0];
      }
      return next;
    }

    function getPrevId(currentId){
      var i = eventIds.indexOf(currentId);
      if(i == 0){
        var p = eventIds[eventIds.length - 1];
      } else {
        var p = eventIds[i - 1];
      }
      return p;
    }

    var Event = function(id, title, host, location, start, end, event_items, guests) {
      this.id = id,
      this.title = title,
      this.host = host,
      this.location = location,
      this.start = start,
      this.end = end || "n/a",
      this.event_items = event_items
      this.guests = guests
    }
        
    Event.prototype.fullName = function(){
     return this.host.first_name || this.host.email;
    }

    function getEvent(id){
      $.get("/events/" + id + ".json", function(data) {
        var anEvent = new Event(data["event"]["id"], data["event"]["title"], data["event"]["host"], data["event"]["location"], 
          data["event"]["start_time"], data["event"]["end_time"], data["event"]["event_items"], data["event"]["guests"]);
        $('#event-title').text(anEvent.title);
        $('#event-host').text(anEvent.fullName());
        $('#event-location').text(anEvent.location);
        $('#event-start-time').text(anEvent.start);
        $('#event-end-time').text(anEvent.end);

        var assignedItemTemplate = [];
        anEvent.event_items.forEach(function(item){
          if (item.assigned_person != null){
            assignedItemTemplate.push("<li>" + (item.item.name.charAt(0).toUpperCase() + item.item.name.slice(1)) + ": " + (item.assigned_person.first_name || item.assigned_person.email) + "</li>")
          }
        })

        var unassignedItemTemplate = [];
        anEvent.event_items.forEach(function(item){
          if (item.assigned_person == null && item.item != null){
            unassignedItemTemplate.push("<div style='display:inline-block; padding-right:5px'> <a id='item-button' data-id='" + item.item.id + "' class='btn btn-info btn-sm'>" + (item.item.name.charAt(0).toUpperCase() + item.item.name.slice(1)) + "</a></div>")
          }
        })

        var guestTemplate = [];
        anEvent.guests.forEach(function(guest){
          guestTemplate.push("<li><p>" + (guest.first_name || guest.email) + "</p></li>")
        })

        $('#assigned-items').html(assignedItemTemplate.join(""));
        $('#unassigned-items').html(unassignedItemTemplate.join(""));
        $('#guests').html(guestTemplate.join(""));

        $("#current-event").attr("data-id", anEvent.id);
        bindItemButton();

        if (currentUserId === anEvent.host.id){
          $("#edit-button").show();
        } else {
          $("#edit-button").hide();
        }
      });
    }

    $("#next-event").click(function() {
      var currentId = parseInt($("#current-event").attr("data-id"));
      var nextId = getNextId(currentId);
      getEvent(nextId);
    });

    $("#prev-event").click(function() {
      var currentId = parseInt($("#current-event").attr("data-id"));
      var prevId = getPrevId(currentId);
      getEvent(prevId);
    });

    $("#edit-button").click(function(){
      var currentId = parseInt($("#current-event").attr("data-id"));
      window.location.href = "/events/" + currentId + "/edit"
    });

    function bindItemButton(){
      $("#item-button").click(function(){
        var eventId = parseInt($("#current-event").attr("data-id"));
        var id = $(this).data("id");
        $.ajax({
          method: "PUT",
          url: "/events/" + eventId + "/event_items/" + id
        })
          .done(function() {
            window.location.href = "/events/" + eventId
          });
      })  
    }
    bindItemButton();

    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
      e.preventDefault();
      $(this).siblings('a.active').removeClass("active");
      $(this).addClass("active");
      var index = $(this).index();
      $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
      $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
  });
</script>